* {
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: rgb(235, 234, 234);
    --background-prinp: #F6F4F2;
    --text-color: #23262b;
    --survol: #8A4D36;
    --bouton: 	#C59C7E;
    --btn_hover: #3f444d;
}

body {
    background-color: var(--background-prinp);
    /* color: var(--text-color); */
    font-family: 'Arial', sans-serif;
}

/* header */

.header{
    /* background-color: #ff5f; */
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 10px 8px 0px #888888 inset;
}

.header__logo a{
    /* font-size: 30px; */
    /* font-weight: 700; */
    color: var(--text-color);
    text-decoration: none;
}


/* Menu */
.header__nav ul {
    list-style: none;
    display: flex;
    gap: 70px;
}

.header__nav ul >li {
    font-size: 20px;
    font-weight: 600;

}

.header__nav ul >li a{
    text-decoration: none;
    color: var(--text-color);
}

.header__nav ul >li a:hover{
    text-decoration: underline;
}

/* Presentation */
.presentation {
    height: 675px;
    padding: 0 30px 0 400px;
    position: relative;
    background: url(../asset/images/background1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 110px;
    min-height: 500px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
}

.presentaion_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-justify: inter-word;
    text-align: justify;
}

.text {
    font-size: 50px;
    color: var(--text-color);
}

.reservation {
    /* background-color: #F3EFE8; */
    color: #F3EFE8;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 250px;
    background-color: var(--text-color);
}

.reservation:hover {
    background-color: var(--btn_hover);
    color: #F3EFE8;
}


/* Info page */
.info {
    background-image: url(../asset/images/bacgroung2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* Story */
.story {
    padding: 30px;
    margin-top: 80px;
}

.story_title {
    text-align: center;
}

.story_title h2 {
    color: var(--survol);
    font-size: 30px;
}

.story_title p {
    font-weight: 600;
}

.story_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    padding: 50px;
    gap: 70px;
}

.story_content_text {
    text-align: center;
    width: 50%;
    text-align: justify;
}

.story_content_text h3 {
    color: var(--survol);
}

.story_content_img {
    width: 35%;
    /* height: 100%; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.story_content_img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Service */

.services_title {
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
}

.services_title h2 {
    color: var(--survol);
}

.service_item h3 {
    margin-top: 20px;
}

.services {
    background-color: var(--background-color);
    padding: 20px 70px 70px;
    height: 100%;
}

.services_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    padding: 50px;
    gap: 60px;
}

.service_item {
    width: 30%;
    height: 110%;
    background-color: var(--background-prinp);
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    animation: pulse;
    animation-duration: 1.5s;
}

.service_item:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 40px -10px, rgba(0, 0, 0, 0.3) 0px 15px 30px -15px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transform: scale(1.05);
    transition: all .5s ease-in-out;
}

.service_item img {
    color: var(--survol);
}

.service_item h3 {
    color: var(--survol);
}

.service_item p {
    text-align: justify;
    
}

.appointment {
    text-align: center;
    margin-top: 50px;
}

.appo {
    background-color: var(--text-color);
    color: #F3EFE8;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.appo:hover {
    background-color: var(--btn_hover);
    color: #F3EFE8;
}

/* Testemony */
.testemony {
    padding: 40px;
}
.testemony_title {
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
}

.testemony_title h2 {
    color: var(--survol);
}
.testemony_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    padding: 50px;
    gap: 60px;
}

.testemony_item {
    width: 30%;
    height: 110%;
    background-color: var(--background-prinp);
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    animation: pulse;
    animation-duration: 1.5s;
}

.testemony_item img {
    height: 100px;
    margin-left: 120px;
}

/* Consultation */

.consultation {
    background: url(../asset/images/Bacground3.png) no-repeat center center fixed;
    background-size: cover;
    height: 60vh;
    padding: 100px;
}

.consultaion_content {
    text-align: center;
}

.consultaion_content a{
    text-decoration: none;
    background-color: var(--text-color);
    color: #F3EFE8;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}



/* Footer */
.footer_content {
    background-color: var(--text-color);
    color: var(--background-prinp);
    padding: 30px 150px;
}

.footer_items {
    display: flex;
    gap: 200px;
}

.footer_item {
    width: 30%;
}

.footer_item p {
    text-align: justify;
}

.right {
    border-top: 1px solid white;
    margin-top: 60px;
    text-align: center;
    padding: 20px 0;
}

.footer_item h2>a {
    color: var(--bouton);
    text-decoration: none;

}

.footer_item h2 {
    color: var(--bouton);
}

.footer_item ul>li {
    list-style: none;
}

.footer_item ul>li a{
    text-decoration: none;
    color: var(--background-prinp);
}

.footer_item ul>li a:hover{
    text-decoration: underline;
}